.progress
{
	height: 50px;
}

.barprog
{
	line-height: 210%;
}

.bdaylabel
{
	text-align: center;
}

.invisible
{
	visibility: hidden;
}

#submitdiv, #previousdiv
{
	float: left;
}

#previousdiv
{
	padding-left: 0.5em;
}